body {
	min-height: 100vh;
	font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
}

header.masthead {
  position: relative;
  background-color: #343a40;
  background: url("../img/bg-masthead.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 8rem;
  padding-bottom: 8rem;
}

header.masthead .overlay {
  position: absolute;
  background-color: #212529;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.3;
}

header.masthead h1 {
  font-size: 2rem;
}

@media (min-width: 768px) {
  header.masthead {
    padding-top: 6.125rem;
    padding-bottom: 6.125rem;
  }
  header.masthead h1 {
    font-size: 3rem;
  }
}

.features-icons {
  padding-top: 4.5rem;
  padding-bottom: 4rem;
}

.features-icons .features-icons-item {
  max-width: 20rem;
}

.features-icons .features-icons-item .features-icons-icon {
  height: 4.5rem;
}

.features-icons .features-icons-item .features-icons-icon i {
  font-size: 4rem;
}

.features-icons .features-icons-item:hover .features-icons-icon i {
  font-size: 4.5rem;
}

footer.footer a i.fi {
	font-size:1.5rem;
}
footer.footer hr {
	margin-left: 25%;
	margin-right: 25%;
}

a.tile {
	color:inherit;
}
a.tile:hover {
	text-decoration:none;
	color:#007bff;
}

section.blog-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
}
article.post {
	max-width: 100%;
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    min-height: 11rem;
    border-radius: 10px;
    overflow: hidden;
    transition: all .3s ease;
    box-shadow: 0 1px 1px 0 rgba(31, 35, 46, 0.15);
	background: white;
}
article.post:hover {
    transform: translate(0px, -2px);
    box-shadow: 0 15px 45px -10px rgba(10, 16, 34, 0.2);
}
article.post .post-thumbnail {
    width: 30%;
    max-width: 100%;
    min-height: 11rem;
    background-size: cover;
    background-position: 50% 50%;
}
div.overlay-credit {
	display:none;
	position:absolute;
}
article.post:hover div.overlay-credit {
	display:block;
}
div.cover-image img:hover ~ div.overlay-credit {
	display:block;
}

article.post .post-content {
    padding: 1rem;
    width: 70%;
}


.cover-image {
    position: relative;
    background-color: #fafafa;
    overflow: hidden;
    width: 100%;
    height: 100%;
	max-height: 40rem;
	max-width:50rem;
}
.cover-image img {
	max-width:100%;
}


.main-nav .breadcrumb {
	background:none;
}

.main-nav .breadcrumb-item+.breadcrumb-item::before {
    display: inline-block;
    padding-right: .5rem;
    color: #007bff;
	font-weight:bold;
    content: "\\\\";
}