<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Mix of a blog and a notepad">
    <meta name="author" content="Avereyl">

    <title>{{ page.title }}</title>
	
	<link rel="icon" href="favicon.ico" />

    <!-- Bootstrap core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">
	<!-- fontisto css -->
    <link href="/vendor/fontisto/css/fontisto/fontisto.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="/assets/css/main.css" rel="stylesheet">

  </head>

  <body class="d-flex flex-column bg-light">

    <!-- Navigation -->
    <nav class="navbar navbar-light bg-light">
	{% include navbar-breadcrumb.html %}
    </nav>

   <section class="container-fluid flex-grow flex-grow-1">
   {{ content }}
   </section>

    
    <!-- Footer -->
    <footer class="footer bg-light pt-4 pb-4 mb-0">
    {% include footer.html %}
    </footer>

  </body>
</html>