---
layout: default
---
<hr/>
<section class="container-fluid blog-container">
	<div class="col-12 col-md-10 col-md-9 ml-auto mr-auto">
	
		<article class="article-page">
			<div class="content-page">
				<div class="cover-image text-center mx-auto px-0 my-0 py-0">
					<img class="mx-auto" src="/assets/img/{{ page.thumbnail }}" alt="{{ page.title }}"/>
					<div class="overlay-credit mx-1 my-1"><a class="btn btn-dark" role="button" href="https://unsplash.com/photos/{{page.thumbnail-id}}"><i class="fi fi-camera"></i>&nbsp;{{page.thumbnail-photographer}}</a></div>
				</div>
				<div class="content-wrapper">
					<header class="text-center mt-4 mb-4">
						<h1 class="page-title">{{ page.title }}</h1>
						<div class="page-date"><span class="post-date">{{ page.date | date_to_string }}</span></div>
					</header>
					<div class="post">
					  {{ content }}
					</div>
				</div>
			</div>
		</article>
	
	</div>
</section>


